<div>
    <div class="divtamaniomap col-md-9 offset3 span6">
        <div>
            <select id="rutaspredefinidas">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <input type="button" value="mover">
        </div>
        <br>
        <br>
        <%- partial("../Mapas/plano.ejs", {idsvgplanovista: idsvgplano}) %>
    </div>

    <div class="col-md-3 colordescripcionmapa">
        <div>
            <h3><%- titulooficina %></h3>
        </div>

        <div>
            <%- datosvista %>
        </div>
    </div>
</div>

<script>
    var datosoficina = '<%= idsvgplano %>';
    if (datosoficina.length > 0) {
        var svgobject = $("#10");
        alert(datosoficina);
    }
</script>