<ul>
    <li class="lista-consejo" type="disc">El Decano, quien lo preside: Ing. MSc. Myriam Hernández A.</li>
    <li class="lista-consejo" type="disc">El Subdecano: Dra. Jenny Torres</li>
    <li class="lista-consejo" type="disc"> El Jefe del DICC: Ing. MSc. Bolívar Palán</li>
    <li class="lista-consejo" type="disc"> Representante estudiantil: Sr. Walter Aldás</li>
    <li class="lista-consejo" type="disc"> Secretaria: Lcda. Susana Aguilar</li>
</ul>