<ul>
    <li class="lista-consejo" type="disc">Ing.Jhonathan Barriga</li>
    <li class="lista-consejo" type="disc">Ing.Patricio Zambrano</li>
    <li class="lista-consejo" type="disc">Ing.Carlos Iñiguez</li>
    <li class="lista-consejo" type="disc">Ing.Denys Flores</li>
    <li class="lista-consejo" type="disc">Ing.Sandra Sanchez</li>
    <li class="lista-consejo" type="disc">Ing.Julián Galindo</li>
    <li class="lista-consejo" type="disc">Ing.Carlos Montenegro</li>
    <li class="lista-consejo" type="disc">Ing.Monserratte Intriago</li>
    <li class="lista-consejo" type="disc">Ing.Ivan Carrera</li>
    <li class="lista-consejo" type="disc">Ing.Maria Hallo</li>
    <li class="lista-consejo" type="disc">Ing.Raul Cordova</li>
    <li class="lista-consejo" type="disc">Ing.Rosa Navarrete</li>
</ul>